
services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./backend/data:/data      

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_app
    env_file: 
      - ./backend/.env.sample
    ports:
      - "5000:5000"

    depends_on:
      - mongodb

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend_app
    env_file: 
      - ./backend/.env.sample
    ports:
      - "5173:5173"
    depends_on:
      - backend
volumes:
  data:
